button {
    background: blue;
    color: white;
    transition: background 0.3s ease;
    border-radius: 10px;
}

button:hover {
    background: darkblue;
    transform: scale(1.2);
}

@keyframes piscar {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
div {
    animation: piscar 2s infinite;
    border: 3px solid black;
    padding: 20px;
    text-align: center;
    width: 200px;
    margin: 20px auto;
    background-color: bisque;
}

img:hover {
    transform: rotate(20deg);
    transition: transform 0.5s;
}

div:hover {
    transform: translate(50px, 20px);
}
div {
    background: linear-gradient(to right, red, yellow,);
}
div {
    background: radial-gradient(circle, blue, white);
}